/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.container {
    width: 100%;
   margin 0 auto;
    maxwidth : 3096px;    
}

.row {
    width: 100%;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 50%;
}
.responsive-img{
margin 0.5rem 0 1rem 0;
}